@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@500&display=swap"); */

:root {
  --purple: rgba(108, 99, 255, 255);
  --poppins: "Poppins", sans-serif;
}
disclaimer {
  display: none !important;
}
