@media only screen and (max-width: 600px) {
  .companies img {
    height: 100px !important;
  }
  .page-header .sitetitle {
    font-weight: 600;
    font-size: 4rem !important;
  }
  .contact {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 125vh !important;
    display: grid;
    align-items: center;
    background: rgba(155, 150, 255, 0.9);
    font-family: var(--poppins) !important;
  }
  .navbar-nav .nav-item {
    padding-left: 10px;
  }
  .navbar-brand {
    padding: 10px;
  }
}
